replicaCount: 1

image:
  repository: kharlamovvadim/muffin-wallet
  tag: "1.1.0"
  pullPolicy: Always

containerPort: 8081

service:
  type: ClusterIP
  port: 8081
  targetPort: 8081

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8081"

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: "muffin-wallet.com"
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://host.minikube.internal:5432/postgres"
  - name: SPRING_DATASOURCE_USERNAME
    value: "postgres"
  - name: SPRING_DATASOURCE_PASSWORD
    value: "postgres"
  - name: SERVER_PORT
    value: "8081"
  - name: CURRENCY_SERVICE_URL
    value: "http://muffin-currency:8080/rate"
  - name: SPRING_MAIN_LOGGING_LEVEL
    value: "INFO"
  - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
    value: "http://zipkin.observability.svc.cluster.local:9411/api/v2/spans"
  - name: MANAGEMENT_TRACING_PROPAGATION_TYPE
    value: "B3"
  - name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE
    value: "health,info,prometheus,metrics"
  - name: MANAGEMENT_METRICS_DISTRIBUTION_SLA_HTTP_SERVER_REQUESTS
    value: "100ms,500ms,1s"
  - name: MANAGEMENT_METRICS_TAGS_APPLICATION
    value: "muffin-wallet"
  - name: MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED
    value: "true"
  - name: MANAGEMENT_METRICS_DISTRIBUTION_PERCENTILES-HISTOGRAM_HTTP_SERVER_REQUESTS
    value: "true"